@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../../../../font/Noto_Serif_KR/);
}