@import "./style.scss";
@import "./common.scss";

body {
    .for-slide {
        width: 1899px; height: 1110px;
        // background-color: aqua;
        overflow: hidden;
    }
    .intro {
        position: absolute;
        margin: 80px 170px;
        padding: 50px 50px;
        font-size: 43px;
        background-color: beige;
        border: 5px dashed brown;
        border-radius: 50px;
    }

    .top{
        width: 130px;
        position: absolute;
        left: 1650px;
        top: 180px;
        cursor: pointer;
    }

    .desc{
        border: 1px solid black;
        background-color: #fff;
        padding: 10px 20px;
        opacity: 0;
        width: 510px;
        position: relative;
        z-index: 2;
        left: 1000px;
        top: 200px;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        img {
            width: 100%;
        }
    }

    .ob1{
        
        .text{
            transform: translate(1070px, -209px);
            // 1070
        }
    }

    .ob2 {

        .text{
            transform: translate(470px, -200px);
            // 470
        }
    }

    .ob3 {
        height: 500px;
        .text{
            transform: translate(-130px, -248px);
            // 130
        }
    }

    .onbear {
        height: 500px; width: 600px;
        top: 420px; 
        cursor: pointer;
        position: relative;
        z-index: 1;
        float: left;
        
        .text {
                span{
                    font-size: 32px;
                }
                color: #fff;
                opacity: 0;
                line-height: 35px;
                font-size: 20px;
                width: 600px;
                // border: 1px solid #333;
                // background-color: pink;
        }

        .p {
            opacity: 1;
            width: 360px;
            margin-top: -90px;
            margin-left: 37px;

        }
        .b {
            opacity: 1;
            width: 605px;
            margin-top: -36px;
            margin-left: -445px;
        }
        .w {
            opacity: 1;
            width: 340px;
            margin-top: -90px;
            margin-left: -680px;
        }
        
        .hide {
            opacity: 0;
        }
    }

    .video {
        position: relative;
        z-index: 1;
        left: 1070px; top: -250px;
        width: 580px; height: 450px;
    }

    .next-btn {
        position: absolute;
        margin-left: 89%;
        z-index: 3;
        @keyframes shake {
            0% { transform: rotate(-20deg); }
            25% { transform: rotate(0deg); }
            50% { transform: rotate(20deg);}
            75% { transform: rotate(0deg);}
            100%{ transform: rotate(-20deg);}
        }
        .next_sign1 {
            cursor: pointer;
            z-index: 20;
            width: 180px;
            animation: shake 1.5s linear infinite;
            &:hover {
                animation: none;
                width: 200px;
            }
        }
        p {
            text-align: center;
            font-size: 1.4rem;
            color: white;
            padding-top: 20px;
        }
    }

    .second-page {
        position: relative;
        .second-page-contents {
            position: re;
            margin-bottom: -1117px;
        }
        .second-bg {
            position: relative;
            z-index: 0;
            margin-left: 1900px;
            width: 1900px;
            .bg-img {
                z-index: 0;
                margin-top: -560px;
                height: 1075px;
            }
        }

        .contents {
            .contents-start {
                position: absolute;
                margin-left: 300px;
                margin-top: -450px;
                z-index: 3;
                table {
                    tr {
                        height: 280px;
                        td{
                            cursor: pointer;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.7);
                            }
                            background-color: rgba(255, 255, 255, 0.3);
                            padding: 0 80px;
                            .character-img { width: 200px;}
                            .charlie { width: 150px; } 
                            .chloe { width: 110px; margin-left: 50px;}
                            .tabes { width: 170px; }
                        }
                    }
                }

            }
            .desc-others {
                text-align: center;
                font-size: 2rem;
                border: 1px solid white;
                float: left;
                position: absolute;
                z-index: 5;
                margin-top: -450px; margin-left: 1150px;
                background-color: rgba(255, 255, 255, 0.3);
                height: 884px; width: 680px;
                p{
                    display: block;
                    padding: 20px 0;
                    margin-bottom: 50px;
                }
                .video-btn {
                    .btn-desc {
                        display: none;
                        font-size: 1rem;
                        border: 1px dashed white;
                        padding: 10px 15px;
                        position: absolute;
                        margin-top: 780px;
                        margin-left: 295px;
                    }
                    img {
                        position: absolute;
                        width: 90px;
                        margin-top: 760px; margin-left: 215px;
                    }
                }
                .other-text {
                    padding: 50px 40px;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
            }
        }
        
        .btn-box {
            .prev-btn {
                position: absolute;
                margin-top: 0%;
                margin-left: 3%;
                z-index: 3;
                @keyframes shake {
                    0% { transform: rotate(-20deg); }
                    25% { transform: rotate(0deg); }
                    50% { transform: rotate(20deg);}
                    75% { transform: rotate(0deg);}
                    100%{ transform: rotate(-20deg);}
                }
    
                .prev_sign1 {
                    cursor: pointer;
                    z-index: 20;
                    width: 180px;
                    animation: shake 1.5s linear infinite;
                    &:hover {
                        animation: none;
                        width: 200px;
                    }
                }
                p {
                    position: absolute;
                    text-align: center;
                    font-size: 1.4rem;
                    color: white;
                    padding-top: 20px;
                }

                .contents {
                    border: 1px solid pink;
                    margin-top: -500px;
                    margin-left: 300px;
                }
            }
        }

    }
}