@charset "UTF-8";
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff") format("woff");
}
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
  font-family: "NotoSerifKR-Regular";
}
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff") format("woff");
}
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
  font-family: "NotoSerifKR-Regular";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SANGJU Gyeongcheon Island";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: black;
  font-size: 3.125em;
}

h4 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-family: "NotoSerifKR-Regular";
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}
.container {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    padding: 0;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../../images/background/detail_page_main_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper {
    display: flex;
    height: 100%;
    flex-direction: row;
  }
}
.wrapper .flexWrapper header {
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header {
    width: 370px;
    height: auto;
    background-image: url(../../../../images/background/detail_page_header_background.png);
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header {
    position: fixed;
  }
}
.wrapper .flexWrapper header .header .logoMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu {
    display: block;
    padding-top: 70px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .logo a {
    width: 190px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu {
    margin-top: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li {
    padding-bottom: 60px;
  }
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:hover ul {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:first-child {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu {
    height: 0px;
    overflow: hidden;
    padding-top: 40px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li {
    display: flex;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li a {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .mobileLogoMenu {
    display: none;
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileLogo {
  position: fixed;
  top: 22px;
  left: 20px;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu {
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu span:nth-child(2) {
  margin: 5px 0;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .afterMenu {
  display: none;
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .afterMenu:after {
  position: fixed;
  top: 25px;
  right: 20px;
  content: "×";
  font-size: 50px;
  color: black;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main {
    width: 1180px;
    margin: 0 auto;
  }
}
.wrapper .flexWrapper main .main .mainSubMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu {
    display: block;
    width: 100%;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul {
    display: flex;
    position: absolute;
    top: 50px;
    right: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li a {
    font-family: "NotoSerifKR-Regular";
    font-size: 14px;
  }
}
.wrapper .flexWrapper main .main section {
  margin-bottom: 100px;
}
.wrapper .flexWrapper main .main section h4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 34px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section h4 {
    font-size: 40px;
  }
}
.wrapper .flexWrapper main .main .downloadpage {
  margin-bottom: 100px;
}
.wrapper .flexWrapper main .main .downloadpage h3 {
  margin-top: 30px;
  font-family: "SANGJU Gyeongcheon Island";
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .downloadpage h3 {
    margin-top: 130px;
    font-size: 50px;
  }
}
.wrapper .flexWrapper main .main .downloadpage p {
  text-align: center;
}
.wrapper .flexWrapper main .main .downloadpage section.logoguide {
  margin-top: 100px;
}
.wrapper .flexWrapper main .main .downloadpage section.logoguide img {
  width: 100%;
  border: 1px solid #000;
}
.wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj .guide {
  margin-bottom: 50px;
}
.wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj .guide .logos {
  margin-top: 20px;
}
.wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj .guide .logos img:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj {
    display: flex;
    text-align: left;
  }
  .wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj .guide {
    margin-left: 1.0416666667%;
  }
  .wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj .guide .logos {
    display: flex;
    width: 50%;
  }
  .wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj .guide .logos img {
    margin-top: 10px;
    height: 200px;
  }
  .wrapper .flexWrapper main .main .downloadpage section.logoguide .containerj .guide .logos img:first-child {
    margin-right: 3px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .downloadpage .button .btn-box {
    display: flex;
  }
  .wrapper .flexWrapper main .main .downloadpage .button .btn-box a {
    width: 100%;
  }
}
.wrapper .flexWrapper main .main .downloadpage .button .black {
  font-family: "SANGJU Gyeongcheon Island";
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  width: 50%;
  margin: 10px 25%;
  padding: 3% 5%;
}
.wrapper .flexWrapper main .main .downloadpage .button .white {
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 50%;
  margin: 10px 25%;
  padding: 3% 5%;
}
.wrapper .flexWrapper main .main .downloadpage .snsImg img {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #000;
}
.wrapper .flexWrapper main .main .downloadpage .snsImg div {
  font-size: 1.4em;
  text-align: center;
  font-family: "SANGJU Gyeongcheon Island";
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 25px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .downloadpage .snsImg div {
    margin: 10px 25%;
    width: 50%;
  }
}
.wrapper .flexWrapper main .main .downloadpage .warning {
  font-family: "NotoSerifKR-Regular";
}
@media screen and (min-width: 1024px) {
  .wrapper footer .container {
    margin: 0;
  }
}
.wrapper footer .footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer {
    width: 100%;
    padding: 120px 185px 80px 545px;
  }
}
.wrapper footer .footer .footInfo {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.wrapper footer .footer .footInfo address {
  font-style: normal;
  font-family: "NotoSerifKR-Regular";
}
.wrapper footer .footer .footInfo p {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footInfo p {
    margin: 0;
  }
}
.wrapper footer .footer .footBox {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox {
    display: flex;
    height: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
.wrapper footer .footer .footBox .footLogoCopy {
  padding: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footLogoCopy {
    width: 30%;
    padding: 0;
    border: 0;
  }
}
.wrapper footer .footer .footBox .footLogoCopy a {
  color: white;
  font-size: 60px;
}
.wrapper footer .footer .footBox .footLogoCopy p {
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footLogoCopy .copyright {
    font-size: 12px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper footer .footer .footBox .footSns {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns {
    position: relative;
    width: 40%;
    height: 250px;
    border-bottom: 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
.wrapper footer .footer .footBox .footSns .footSnsCont {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns .footSnsCont {
    padding: 60px 80px;
  }
}
.wrapper footer .footer .footBox .footSns .footSnsCont li {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns .footSnsCont li {
    padding-right: 15px;
  }
  .wrapper footer .footer .footBox .footSns .footSnsCont li:last-child {
    padding-right: 0;
  }
}
.wrapper footer .footer .footBox .footSns .footSnsCont li img {
  width: 50px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns .footSnsCont li img {
    width: 60px;
    opacity: 0.5;
    transition: all 0.5s;
  }
  .wrapper footer .footer .footBox .footSns .footSnsCont li img:hover {
    opacity: 1;
  }
}
.wrapper footer .footer .footBox .footMenu {
  padding: 40px 0;
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footMenu {
    width: 30%;
    padding: 0;
    font-size: 14px;
  }
}
.wrapper footer .footer .footBox .footMenu ul {
  display: flex;
  width: 100%;
  padding: 10px;
}
.wrapper footer .footer .footBox .footMenu ul:last-child {
  text-align: left;
}
.wrapper footer .footer .footBox .footMenu ul li {
  width: 33%;
  padding: 0 5px;
  text-align: center;
}
.wrapper footer .footer .footBox .footMenu ul li a {
  width: 100%;
  color: white;
}

.wrapper1 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  .wrapper1 {
    display: none;
  }
}
.wrapper1 .wrap-inner {
  height: 100vh;
  background-image: url(../../../../images/background/detail_page_main_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner {
    display: none;
  }
}
.wrapper1 .wrap-inner .container1 {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 {
    display: flex;
    padding: 0 130px;
    flex-wrap: wrap;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 {
  position: relative;
  margin-top: 0;
  height: 550px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 {
    position: relative;
    width: 77%;
    height: 820px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb {
    position: absolute;
    top: 60px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb #extra {
  margin: 50px 0 70px;
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li {
    display: initial;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li a {
  font-size: 34px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li a {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .gnb-title {
    margin: 50px 0 20px 0;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li {
    display: flex;
    justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li a {
  color: #a3a3a3;
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li a {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li {
  justify-content: end;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li {
    justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li2 {
  flex-direction: column;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li2 {
    text-align: left;
    flex-direction: row;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 {
  font-family: "NotoSerifKR-Regular";
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 {
    width: 23%;
    margin: 0;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 .close-btn-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 .close-btn-pc {
    display: block;
    position: absolute;
    top: 60px;
    right: 150px;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 ul {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul {
    display: initial;
    font-family: "SANGJU Gyeongcheon Island";
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul li {
    margin-top: 130px;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 ul li a {
  margin: 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul li a {
    color: #a3a3a3;
  }
}
.wrapper1 .wrap-inner .container1 span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a3a3a3;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer {
    display: flex;
    width: 100%;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 {
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 {
    width: 65%;
    padding: 20px 0;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 {
    justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li {
  padding: 10px;
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li img {
  width: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li img {
    width: 40px;
  }
}
.wrapper1 .wrap-inner .container1 .footer .footerInfo1 {
  display: flex;
  justify-content: space-between;
  font-size: 11.5px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .footerInfo1 {
    width: 35%;
    padding: 0;
    font-size: 16px;
    align-items: center;
    justify-content: end;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .footerInfo1 p:last-child {
    margin-left: 100px;
  }
}/*# sourceMappingURL=logo.css.map */