@charset "UTF-8";
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../../../../font/NotoSerifKR-Regular.woff);
}
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../../../../font/NotoSerifKR-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SANGJU Gyeongcheon Island";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: black;
  font-size: 3.125em;
}

h4 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-family: "NotoSerifKR-Regular";
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}
.container {
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../../images/background/detail_page_main_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.wrapper .flexWrapper header {
  height: 80px;
  position: relative;
  z-index: 20000;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header {
    height: auto;
    width: 370px;
    background-image: url(../../../../images/background/detail_page_header_background.png);
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header {
    position: fixed;
  }
}
.wrapper .flexWrapper header .header .logoMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu {
    display: block;
    padding-top: 70px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .logo a {
    width: 190px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu {
    margin-top: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li {
    padding-bottom: 60px;
  }
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:hover ul {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:first-child {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu {
    height: 0px;
    overflow: hidden;
    padding-top: 40px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li a {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .mobileLogoMenu {
    display: none;
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileLogo {
  position: fixed;
  top: 22px;
  left: 20px;
  z-index: 20000;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu {
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
  z-index: 20000;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu span:nth-child(2) {
  margin: 5px 0;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .afterMenu {
  display: none;
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .afterMenu:after {
  position: fixed;
  top: 25px;
  right: 20px;
  content: "×";
  font-size: 50px;
  color: black;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main {
    width: 1180px;
    margin: 0 auto;
  }
}
.wrapper .flexWrapper main .main .mainSubMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu {
    display: block;
    width: 100%;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 100px;
    top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li a {
    font-family: "NotoSerifKR-Regular";
    font-size: 14px;
  }
}
.wrapper .flexWrapper main .main .sec1 {
  margin-top: 30px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 {
    margin-top: 130px;
  }
}
.wrapper .flexWrapper main .main .sec1 h3 {
  font-size: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 h3 {
    font-size: 50px;
  }
}
.wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper {
  width: 600px;
}
.wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper .swiper-slide {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 300px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper .swiper-slide {
    width: 900px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper .swiper-slide div {
    width: 100%;
    height: 100%;
  }
}
.wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper .swiper-slide div h4 {
  width: 105px;
  margin: 100px 20px 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper .swiper-slide div h4 {
    margin: 240px 60px 0 110px;
    font-size: 48px;
    width: 150px;
  }
}
.wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper .swiper-slide div img {
  display: block;
  width: 150px;
  height: 200px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 .swiper .swiper-wrapper .swiper-slide div img {
    width: 433px;
    height: 529px;
  }
}
.wrapper .flexWrapper .banner1 {
  width: 100%;
  height: 197px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .banner1 {
    width: 100%;
    height: 507px;
  }
}
.wrapper .flexWrapper .sec2 {
  margin: 100px 0 50px 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap {
    padding: 0 60px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .region_con {
  margin: 20px 0;
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .region_con h3 {
  text-align: center;
  margin: 0 35px;
  font-size: 34px;
  line-height: 35px;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .region_con h3 {
    text-align: left;
    margin: 10px 0 50px 0;
    padding: 0 0;
    font-size: 50px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .region_con span {
  margin: 25px 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .region_con span {
    display: none;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .region_con p {
  font-family: "NotoSerifKR-Regular";
  color: #606060;
  line-height: 25px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .region_con p {
    font-size: 24px;
    line-height: 35px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .region_con .pc-line {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .region_con .pc-line {
    display: block;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .line {
  margin: 10px 0 15px 0;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #dbdbdb;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .line {
    display: none;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide {
  width: 170px;
  font-family: "NotoSerifKR-Regular";
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide {
    width: 280px;
    margin-bottom: 60px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide img {
  width: 166px;
  height: 229px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide img {
    width: 270px;
    height: 372px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide .box-even {
  height: 151px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide .box-even {
    width: 270px;
    height: 259px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide h4 {
  font-size: 14px;
  padding: 20px 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide h4 {
    font-size: 24px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide p {
  font-size: 12px;
  line-height: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap .swiper-container .swiper-wrapper .swiper-slide p {
    font-size: 20px;
  }
}
.wrapper .flexWrapper .sec2 .main .container .p-gap span {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec2 .main .container .p-gap span {
    display: block;
    background-color: #dbdbdb;
    height: 5px;
    width: 100%;
  }
}
.wrapper .flexWrapper .sec3 .main .banner-2 {
  width: 100%;
  margin-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .banner-2 {
    width: 100%;
    height: 540px;
    margin-top: 100px;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine_title {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine_title {
    position: relative;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine_title h1 {
  position: absolute;
  top: 20px;
  left: 210px;
  font-size: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine_title h1 {
    top: 49px;
    left: 770px;
    font-size: 50px;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine_title h6 {
  margin-left: 10px;
  color: #dbdbdb;
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine_title h6 {
    position: absolute;
    top: 60px;
    left: 460px;
    font-size: 32px;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine_title span {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine_title span {
    display: block;
    width: 300px;
    height: 2px;
    background-color: #dbdbdb;
    position: absolute;
    top: 50px;
    left: 460px;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con {
  position: relative;
  height: 1350px;
  top: 60px;
  font-family: "NotoSerifKR-Regular";
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine-con {
    position: relative;
    top: 0;
    height: 1100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con1 {
    position: absolute;
    left: 160px;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con1 .ricewine-p1 {
  width: 300px;
  height: 420px;
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con1 h6 {
  font-size: 24px;
  padding: 10px;
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con1 p {
  font-size: 16px;
  padding: 10px 10px 60px 10px;
  line-height: 30px;
  width: 300px;
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con2 {
  position: absolute;
  right: 0;
  text-align: right;
  width: 330px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con2 {
    position: absolute;
    right: 150px;
    top: 350px;
    text-align: left;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con2 .ricewine-p2 {
  width: 300px;
  height: 290px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con2 .ricewine-p2 {
    width: 350px;
    height: 330px;
  }
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con2 h6 {
  font-size: 24px;
  padding: 10px;
}
.wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con2 p {
  font-size: 16px;
  padding: 10px 10px 60px 10px;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .sec3 .main .container .ricewine-con .ricewine-con2 p {
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  footer .container {
    margin: 0;
  }
}
footer .footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
@media screen and (min-width: 1024px) {
  footer .footer {
    width: 100%;
    padding: 120px 185px 80px 545px;
  }
}
footer .footer .footInfo {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
footer .footer .footInfo address {
  font-style: normal;
  font-family: "NotoSerifKR-Regular";
}
footer .footer .footInfo p {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo p {
    margin: 0;
  }
}
footer .footer .footBox {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
footer .footer .footBox .footLogoCopy {
  padding: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy {
    width: 30%;
    padding: 0;
    border: 0;
  }
}
footer .footer .footBox .footLogoCopy a {
  color: white;
  font-size: 60px;
}
footer .footer .footBox .footLogoCopy p {
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy .copyright {
    font-size: 12px;
    font-family: "NotoSerifKR-Regular";
  }
}
footer .footer .footBox .footSns {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns {
    position: relative;
    width: 40%;
    height: 250px;
    border-bottom: 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
footer .footer .footBox .footSns .footSnsCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont {
    padding: 60px 80px;
  }
}
footer .footer .footBox .footSns .footSnsCont li {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li {
    padding-right: 15px;
  }
  footer .footer .footBox .footSns .footSnsCont li:last-child {
    padding-right: 0;
  }
}
footer .footer .footBox .footSns .footSnsCont li img {
  width: 50px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li img {
    width: 60px;
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  footer .footer .footBox .footSns .footSnsCont li img:hover {
    opacity: 1;
  }
}
footer .footer .footBox .footMenu {
  padding: 40px 0;
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footMenu {
    width: 30%;
    padding: 0;
    font-size: 14px;
  }
}
footer .footer .footBox .footMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
}
footer .footer .footBox .footMenu ul:last-child {
  text-align: left;
}
footer .footer .footBox .footMenu ul li {
  width: 33%;
  padding: 0 5px;
  text-align: center;
}
footer .footer .footBox .footMenu ul li a {
  width: 100%;
  color: white;
}

.wrapper1 {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  .wrapper1 {
    display: none;
  }
}
.wrapper1 .wrap-inner {
  height: 100vh;
  background-image: url(../../../../images/background/main_menu_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner {
    display: none;
  }
}
.wrapper1 .wrap-inner .container1 {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 130px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 {
  position: relative;
  margin-top: 0;
  height: 550px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 {
    position: relative;
    width: 77%;
    height: 820px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb {
    position: absolute;
    top: 60px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb #extra {
  margin: 50px 0 70px;
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li {
    display: initial;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li a {
  font-size: 34px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li a {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .gnb-title {
    margin: 50px 0 20px 0;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li a {
  color: #a3a3a3;
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li a {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li2 {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 {
  font-family: "NotoSerifKR-Regular";
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 {
    width: 23%;
    margin: 0;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 .close-btn-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 .close-btn-pc {
    display: block;
    position: absolute;
    top: 60px;
    right: 150px;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul {
    display: initial;
    font-family: "SANGJU Gyeongcheon Island";
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul li {
    margin-top: 130px;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 ul li a {
  margin: 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul li a {
    color: #a3a3a3;
  }
}
.wrapper1 .wrap-inner .container1 span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a3a3a3;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 {
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 {
    width: 65%;
    padding: 20px 0;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li {
  padding: 10px;
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li img {
  width: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li img {
    width: 40px;
  }
}
.wrapper1 .wrap-inner .container1 .footer .footerInfo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11.5px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .footerInfo1 {
    width: 35%;
    padding: 0;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .footerInfo1 p:last-child {
    margin-left: 100px;
  }
}