@font-face {
  font-family: "YdestreetB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YdestreetB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "YdestreetB";
}

table,
tr,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

a {
  color: black;
  text-decoration: none;
}

body .for-slide {
  width: 1899px;
  height: 1110px;
  overflow: hidden;
}
body .intro {
  position: absolute;
  margin: 80px 170px;
  padding: 50px 50px;
  font-size: 43px;
  background-color: beige;
  border: 5px dashed brown;
  border-radius: 50px;
}
body .top {
  width: 130px;
  position: absolute;
  left: 1650px;
  top: 180px;
  cursor: pointer;
}
body .desc {
  border: 1px solid black;
  background-color: #fff;
  padding: 10px 20px;
  opacity: 0;
  width: 510px;
  position: relative;
  z-index: 2;
  left: 1000px;
  top: 200px;
}
body .bg-img {
  position: absolute;
  width: 100%;
}
body .bg-img img {
  width: 100%;
}
body .ob1 .text {
  transform: translate(1070px, -209px);
}
body .ob2 .text {
  transform: translate(470px, -200px);
}
body .ob3 {
  height: 500px;
}
body .ob3 .text {
  transform: translate(-130px, -248px);
}
body .onbear {
  height: 500px;
  width: 600px;
  top: 420px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  float: left;
}
body .onbear .text {
  color: #fff;
  opacity: 0;
  line-height: 35px;
  font-size: 20px;
  width: 600px;
}
body .onbear .text span {
  font-size: 32px;
}
body .onbear .p {
  opacity: 1;
  width: 360px;
  margin-top: -90px;
  margin-left: 37px;
}
body .onbear .b {
  opacity: 1;
  width: 605px;
  margin-top: -36px;
  margin-left: -445px;
}
body .onbear .w {
  opacity: 1;
  width: 340px;
  margin-top: -90px;
  margin-left: -680px;
}
body .onbear .hide {
  opacity: 0;
}
body .video {
  position: relative;
  z-index: 1;
  left: 1070px;
  top: -250px;
  width: 580px;
  height: 450px;
}
body .next-btn {
  position: absolute;
  margin-left: 89%;
  z-index: 3;
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
body .next-btn .next_sign1 {
  cursor: pointer;
  z-index: 20;
  width: 180px;
  -webkit-animation: shake 1.5s linear infinite;
          animation: shake 1.5s linear infinite;
}
body .next-btn .next_sign1:hover {
  -webkit-animation: none;
          animation: none;
  width: 200px;
}
body .next-btn p {
  text-align: center;
  font-size: 1.4rem;
  color: white;
  padding-top: 20px;
}
body .second-page {
  position: relative;
}
body .second-page .second-page-contents {
  position: re;
  margin-bottom: -1117px;
}
body .second-page .second-bg {
  position: relative;
  z-index: 0;
  margin-left: 1900px;
  width: 1900px;
}
body .second-page .second-bg .bg-img {
  z-index: 0;
  margin-top: -560px;
  height: 1075px;
}
body .second-page .contents .contents-start {
  position: absolute;
  margin-left: 300px;
  margin-top: -450px;
  z-index: 3;
}
body .second-page .contents .contents-start table tr {
  height: 280px;
}
body .second-page .contents .contents-start table tr td {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 80px;
}
body .second-page .contents .contents-start table tr td:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
body .second-page .contents .contents-start table tr td .character-img {
  width: 200px;
}
body .second-page .contents .contents-start table tr td .charlie {
  width: 150px;
}
body .second-page .contents .contents-start table tr td .chloe {
  width: 110px;
  margin-left: 50px;
}
body .second-page .contents .contents-start table tr td .tabes {
  width: 170px;
}
body .second-page .contents .desc-others {
  text-align: center;
  font-size: 2rem;
  border: 1px solid white;
  float: left;
  position: absolute;
  z-index: 5;
  margin-top: -450px;
  margin-left: 1150px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 884px;
  width: 680px;
}
body .second-page .contents .desc-others p {
  display: block;
  padding: 20px 0;
  margin-bottom: 50px;
}
body .second-page .contents .desc-others .video-btn .btn-desc {
  display: none;
  font-size: 1rem;
  border: 1px dashed white;
  padding: 10px 15px;
  position: absolute;
  margin-top: 780px;
  margin-left: 295px;
}
body .second-page .contents .desc-others .video-btn img {
  position: absolute;
  width: 90px;
  margin-top: 760px;
  margin-left: 215px;
}
body .second-page .contents .desc-others .other-text {
  padding: 50px 40px;
  font-size: 1.2rem;
  line-height: 2rem;
}
body .second-page .btn-box .prev-btn {
  position: absolute;
  margin-top: 0%;
  margin-left: 3%;
  z-index: 3;
}
@keyframes shake {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
body .second-page .btn-box .prev-btn .prev_sign1 {
  cursor: pointer;
  z-index: 20;
  width: 180px;
  -webkit-animation: shake 1.5s linear infinite;
          animation: shake 1.5s linear infinite;
}
body .second-page .btn-box .prev-btn .prev_sign1:hover {
  -webkit-animation: none;
          animation: none;
  width: 200px;
}
body .second-page .btn-box .prev-btn p {
  position: absolute;
  text-align: center;
  font-size: 1.4rem;
  color: white;
  padding-top: 20px;
}
body .second-page .btn-box .prev-btn .contents {
  border: 1px solid pink;
  margin-top: -500px;
  margin-left: 300px;
}/*# sourceMappingURL=character.css.map */