@charset "UTF-8";
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../../../../font/NotoSerifKR-Regular.woff);
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../../../../font/NotoSerifKR-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SANGJU Gyeongcheon Island";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: black;
  font-size: 3.125em;
}

h4 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-family: "NotoSerifKR-Regular";
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}
.container {
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../../images/background/detail_page_main_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
}
.wrapper .flexWrapper header {
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header {
    height: auto;
    width: 370px;
    background-image: url(../../../../images/background/detail_page_header_background.png);
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header {
    position: fixed;
  }
}
.wrapper .flexWrapper header .header .logoMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu {
    display: block;
    padding-top: 70px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .logo a {
    width: 190px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu {
    margin-top: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li {
    padding-bottom: 60px;
  }
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:hover ul {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:first-child {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu {
    height: 0px;
    overflow: hidden;
    padding-top: 40px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li {
    display: flex;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li a {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu {
  z-index: 50;
  position: relative;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .mobileLogoMenu {
    display: none;
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileLogo {
  position: fixed;
  top: 22px;
  left: 20px;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu {
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .beforeMenu span:nth-child(2) {
  margin: 5px 0;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .afterMenu {
  display: none;
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .afterMenu:after {
  position: fixed;
  top: 25px;
  right: 20px;
  content: "×";
  font-size: 50px;
  color: black;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main {
    width: 1180px;
    margin: 0 auto;
  }
}
.wrapper .flexWrapper main .main .mainSubMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu {
    display: block;
    width: 100%;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul {
    display: flex;
    position: absolute;
    right: 100px;
    top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li a {
    font-family: "NotoSerifKR-Regular";
    font-size: 14px;
  }
}
.wrapper .flexWrapper main .main aside.slide {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  touch-action: pan-y;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper img {
  max-width: 100%;
  display: block;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-pager {
  text-align: center;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
  position: absolute;
  bottom: 40px;
  width: 100%;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-pager.bx-default-pager a {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 7px;
  outline: 0;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-pager.bx-default-pager a {
    width: 13px;
    height: 13px;
  }
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-pager.bx-default-pager a:hover, .wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-pager.bx-default-pager a:active, .wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #fff;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-pager-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
  font-size: 0;
  line-height: 0;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls-auto {
  text-align: center;
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("../../images/icon/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls-auto .bx-start:hover, .wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls-auto .bx-start:active, .wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px -33px;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-prev {
  display: none;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-next {
  display: none;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.wrapper .flexWrapper main .main aside.slide .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}
.wrapper .flexWrapper main .main aside.slide .bxslider {
  margin: 0;
  padding: 0;
}
.wrapper .flexWrapper main .main aside.slide ul.bxslider {
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main aside.slide {
    margin-top: 130px;
  }
}
.wrapper .flexWrapper main .main aside.slide ul {
  position: relative;
  width: 300%;
  display: flex;
}
.wrapper .flexWrapper main .main aside.slide ul li {
  width: 100%;
}
.wrapper .flexWrapper main .main aside.slide ul li a {
  width: 100%;
}
.wrapper .flexWrapper main .main aside.slide ul li a img {
  width: 100%;
  height: auto;
  vertical-align: top;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main aside.slide ul li a img {
    height: 680px;
    margin-bottom: 0;
  }
}
.wrapper .flexWrapper main .main nav {
  margin-bottom: 100px;
  width: 100%;
}
.wrapper .flexWrapper main .main nav .gnb {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb {
    border: 1px solid #000;
  }
}
.wrapper .flexWrapper main .main nav .gnb li {
  width: 25%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb li {
    border-right: 1px solid #000;
  }
  .wrapper .flexWrapper main .main nav .gnb li:last-child {
    border-right: 0;
  }
}
.wrapper .flexWrapper main .main nav .gnb li a {
  width: 100%;
  font-family: "NotoSerifKR-Regular";
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb li a {
    padding: 20px 0;
  }
  .wrapper .flexWrapper main .main nav .gnb li a:hover {
    background-color: #000;
    color: #fff;
  }
}
.wrapper .flexWrapper main .main nav .gnb li a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb li a:hover {
    text-decoration: none;
  }
}
.wrapper .flexWrapper main .main section.rec-box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}
.wrapper .flexWrapper main .main section.rec-box h3 {
  text-align: center;
  font-size: 1.875em;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box h3 {
    font-size: 2.5em;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend {
  width: 375%;
  display: flex;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend {
    width: 150%;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des {
  position: relative;
  width: 70%;
  margin-right: 5%;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des {
    width: 30%;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item {
  width: 380px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item {
    width: 450px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item p {
  line-height: 30px;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item button {
  position: absolute;
  top: 72px;
  left: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart,
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart_full {
  position: absolute;
  top: 7px;
  left: 300px;
  width: 35px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart,
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart_full {
    left: 410px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart_full {
  display: none;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink1 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink1 {
    width: 450px;
    height: 600px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink2 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink2 {
    width: 450px;
    height: 500px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink3 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink3 {
    width: 450px;
    height: 550px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink4 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink4 {
    width: 450px;
    height: 500px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info {
  display: none;
  background-color: #fff;
  padding-left: 30px;
  padding-top: 130px;
  position: absolute;
  top: 0;
  transform: translateY(60px);
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info p {
  position: absolute;
  top: 20px;
  left: 50px;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info p {
    top: 60px;
    line-height: 40px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info button {
  position: absolute;
  top: 12px;
  left: 12px;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
  color: white;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f1 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f1 {
    width: 450px;
    height: 600px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f2 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f2 {
    width: 450px;
    height: 500px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f3 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f3 {
    width: 450px;
    height: 550px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f4 {
  width: 350px;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f4 {
    width: 450px;
    height: 500px;
  }
}
.wrapper .flexWrapper main .main .swiper_scrollbar {
  margin-top: 65px;
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #dbdbdb;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}
.wrapper .flexWrapper main .main .swiper_scrollbar .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.wrapper .flexWrapper main section.brewery h3 {
  text-align: center;
  font-size: 1.875em;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery h3 {
    font-size: 2.5em;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap {
  width: 100%;
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}
.wrapper .flexWrapper main section.brewery .category_wrap svg#icon-swipe {
  width: 75px;
  height: 40px;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap svg#icon-swipe {
    display: none;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap svg#icon-swipe #hand {
  fill: #000;
  transform-origin: 50% 100%;
  -webkit-animation: hand-swipe 3.5s infinite ease;
          animation: hand-swipe 3.5s infinite ease;
}
.wrapper .flexWrapper main section.brewery .category_wrap svg#icon-swipe #left, .wrapper .flexWrapper main section.brewery .category_wrap svg#icon-swipe #right {
  fill: #453d34;
  opacity: 0;
}
.wrapper .flexWrapper main section.brewery .category_wrap svg#icon-swipe #right {
  -webkit-animation: arrow-right 3.5s infinite ease;
          animation: arrow-right 3.5s infinite ease;
}
.wrapper .flexWrapper main section.brewery .category_wrap svg#icon-swipe #left {
  -webkit-animation: arrow-left 3.5s infinite ease;
          animation: arrow-left 3.5s infinite ease;
}
@-webkit-keyframes hand-swipe {
  5% {
    transform: translateX(3px) rotate(6deg);
  }
  25% {
    transform: translateX(0px) rotate(0deg);
  }
  28% {
    transform: translateX(0px) rotate(0deg);
  }
  33% {
    transform: translateX(-3px) rotate(-6deg);
  }
  53% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes hand-swipe {
  5% {
    transform: translateX(3px) rotate(6deg);
  }
  25% {
    transform: translateX(0px) rotate(0deg);
  }
  28% {
    transform: translateX(0px) rotate(0deg);
  }
  33% {
    transform: translateX(-3px) rotate(-6deg);
  }
  53% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes arrow-right {
  7% {
    transform: translateX(8px);
    opacity: 1;
  }
  17% {
    transform: translateX(10px);
    opacity: 0;
  }
  18%, 100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes arrow-right {
  7% {
    transform: translateX(8px);
    opacity: 1;
  }
  17% {
    transform: translateX(10px);
    opacity: 0;
  }
  18%, 100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@-webkit-keyframes arrow-left {
  0%, 30% {
    transform: translateX(0);
    opacity: 0;
  }
  37% {
    transform: translateX(-8px);
    opacity: 1;
  }
  47% {
    transform: translateX(-10px);
    opacity: 0;
  }
  48%, 100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes arrow-left {
  0%, 30% {
    transform: translateX(0);
    opacity: 0;
  }
  37% {
    transform: translateX(-8px);
    opacity: 1;
  }
  47% {
    transform: translateX(-10px);
    opacity: 0;
  }
  48%, 100% {
    transform: translateX(0);
    opacity: 0;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap .slick-track {
  margin-left: 0;
  margin-right: 0;
}
.wrapper .flexWrapper main section.brewery .category_wrap .brewery_item {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap .brewery_item {
    margin-bottom: 0;
    overflow: hidden;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap .brewery_item .b_item {
  width: 160px;
  margin-right: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap .brewery_item .b_item {
    width: 280px;
    margin: 20px auto;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap .brewery_item .b_item a img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap .brewery_item .b_item a img {
    width: 180px;
    height: 180px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap .brewery_item .b_item a img:hover {
    transform: scale(1.2);
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery {
  width: 100%;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location {
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .location_box {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .location_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .location_box img {
  width: 35px;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .qr_box {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .qr_box {
    width: 50%;
    align-items: center;
    display: block;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .qr_box img {
    width: 53px;
    margin-right: 10px;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .brewery_box {
  width: 100%;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .brewery_box .brewery_pic {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .brewery_box .brewery_pic {
    display: block;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .brewery_box .map {
  width: 100%;
  text-align: center;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .brewery_box .map iframe {
  width: 100%;
  height: 400px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .brewery_box .map {
    display: none;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box {
    height: 500px;
    flex-direction: row;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol {
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol {
    width: 30%;
    margin-right: 5%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol strong {
  display: block;
  font-weight: normal;
  font-size: 1.5em;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol img {
  display: block;
  margin-top: 20px;
  margin: 0 auto;
  height: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol img {
    height: 70%;
    margin-top: 50px;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol p {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin-right: 5%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic .img_box {
  height: 50%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic .img_box img {
    width: 100%;
    height: 90%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text {
  margin-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text {
    width: 30%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text a {
  font-family: "NotoSerifKR-Regular";
  font-size: 1.25em;
  margin: 30px 0;
  text-align: center;
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text a {
    display: none;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text p {
  line-height: 30px;
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text p {
    display: block;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box {
    height: 500px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi {
  order: 3;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 100%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .brewery_pic,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .brewery_pic {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .brewery_pic,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .brewery_pic {
    height: 50%;
    display: flex;
    justify-content: space-between;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .brewery_pic .img_box,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .brewery_pic .img_box {
  width: 100%;
  position: relative;
  display: flex;
  height: 300px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .brewery_pic .img_box,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .brewery_pic .img_box {
    width: 100%;
    width: 48%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .brewery_pic .img_box img,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .brewery_pic .img_box img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .brewery_pic .img_box img,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .brewery_pic .img_box img {
    height: 225px;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .text,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .text {
  margin-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .text,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .text {
    width: 100%;
    height: 50%;
    margin: 0;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .text a,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .text a {
  font-family: "NotoSerifKR-Regular";
  font-size: 1.25em;
  margin: 30px 0;
  text-align: center;
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .text a,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .text a {
    display: none;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .text p,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .text p {
  line-height: 30px;
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .brewery_semi .text p,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .brewery_semi .text p {
    display: block;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .map,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .map {
  order: 2;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .alcohol,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .alcohol {
  margin-bottom: 50px;
  width: 100%;
  order: 1;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .alcohol,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .alcohol {
    width: 30%;
    height: 100%;
    order: 3;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .alcohol strong,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .alcohol strong {
  display: block;
  font-weight: normal;
  font-size: 1.5em;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .alcohol img,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .alcohol img {
  display: block;
  margin-top: 20px;
  margin: 0 auto;
  height: 300px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .alcohol img,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .alcohol img {
    height: 70%;
    margin-top: 50px;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2 .brewery_box .alcohol p,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 .brewery_box .alcohol p {
  text-align: center;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box {
    height: 500px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .alcohol {
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .alcohol {
    width: 30%;
    height: 100%;
    order: 1;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .alcohol strong {
  display: block;
  font-weight: normal;
  font-size: 1.5em;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .alcohol img {
  display: block;
  margin-top: 20px;
  margin: 0 auto;
  height: 300px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .alcohol img {
    height: 70%;
    margin-top: 50px;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .alcohol p {
  text-align: center;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .text {
  order: 3;
  margin-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .text {
    width: 30%;
    height: 100%;
    order: 2;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .text a {
  font-family: "NotoSerifKR-Regular";
  font-size: 1.25em;
  margin: 30px 0;
  text-align: center;
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .text a {
    display: none;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .text p {
  line-height: 30px;
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .text p {
    display: block;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .brewery_pic {
  order: 2;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .brewery_pic {
    width: 30%;
    height: 100%;
    order: 3;
    display: flex;
    flex-direction: column;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .brewery_pic .img_box {
  height: 50%;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .brewery_pic .img_box img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b3 .brewery_box .brewery_pic .img_box img {
    width: 100%;
    height: 90%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b2,
.wrapper .flexWrapper main section.brewery .brewery_content .b3,
.wrapper .flexWrapper main section.brewery .brewery_content .b4 {
  display: none;
}

@media screen and (min-width: 1024px) {
  footer .container {
    margin: 0;
  }
}
footer .footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
@media screen and (min-width: 1024px) {
  footer .footer {
    width: 100%;
    padding: 120px 185px 80px 545px;
  }
}
footer .footer .footInfo {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
footer .footer .footInfo address {
  font-style: normal;
  font-family: "NotoSerifKR-Regular";
}
footer .footer .footInfo p {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo p {
    margin: 0;
  }
}
footer .footer .footBox {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox {
    display: flex;
    height: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
footer .footer .footBox .footLogoCopy {
  padding: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy {
    width: 30%;
    padding: 0;
    border: 0;
  }
}
footer .footer .footBox .footLogoCopy a {
  color: white;
  font-size: 60px;
}
footer .footer .footBox .footLogoCopy p {
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy .copyright {
    font-size: 12px;
    font-family: "NotoSerifKR-Regular";
  }
}
footer .footer .footBox .footSns {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns {
    position: relative;
    width: 40%;
    height: 250px;
    border-bottom: 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
footer .footer .footBox .footSns .footSnsCont {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont {
    padding: 60px 80px;
  }
}
footer .footer .footBox .footSns .footSnsCont li {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li {
    padding-right: 15px;
  }
  footer .footer .footBox .footSns .footSnsCont li:last-child {
    padding-right: 0;
  }
}
footer .footer .footBox .footSns .footSnsCont li img {
  width: 50px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li img {
    width: 60px;
    opacity: 0.5;
    transition: all 0.5s;
  }
  footer .footer .footBox .footSns .footSnsCont li img:hover {
    opacity: 1;
  }
}
footer .footer .footBox .footMenu {
  padding: 40px 0;
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footMenu {
    width: 30%;
    padding: 0;
    font-size: 14px;
  }
}
footer .footer .footBox .footMenu ul {
  display: flex;
  width: 100%;
  padding: 10px;
}
footer .footer .footBox .footMenu ul:last-child {
  text-align: left;
}
footer .footer .footBox .footMenu ul li {
  width: 33%;
  padding: 0 5px;
  text-align: center;
}
footer .footer .footBox .footMenu ul li a {
  width: 100%;
  color: white;
}

.wrapper1 {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  .wrapper1 {
    display: none;
  }
}
.wrapper1 .wrap-inner {
  height: 100vh;
  background-image: url(../../../../images/background/main_menu_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner {
    display: none;
  }
}
.wrapper1 .wrap-inner .container1 {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 {
    display: flex;
    padding: 0 130px;
    flex-wrap: wrap;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 {
  position: relative;
  margin-top: 0;
  height: 550px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 {
    position: relative;
    width: 77%;
    height: 820px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb {
    position: absolute;
    top: 60px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb #extra {
  margin: 50px 0 70px;
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li {
    display: initial;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li a {
  font-size: 34px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li a {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .gnb-title {
    margin: 50px 0 20px 0;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li {
    display: flex;
    justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li a {
  color: #a3a3a3;
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb li a {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li {
  justify-content: end;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li {
    justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li2 {
  flex-direction: column;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu1 .gnb li .sub-gnb .sub-gnb-li2 {
    text-align: left;
    flex-direction: row;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 {
  font-family: "NotoSerifKR-Regular";
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 {
    width: 23%;
    margin: 0;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 .close-btn-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 .close-btn-pc {
    display: block;
    position: absolute;
    top: 60px;
    right: 150px;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 ul {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul {
    display: initial;
    font-family: "SANGJU Gyeongcheon Island";
    font-size: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul li {
    margin-top: 130px;
  }
}
.wrapper1 .wrap-inner .container1 .menu2 ul li a {
  margin: 0 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .menu2 ul li a {
    color: #a3a3a3;
  }
}
.wrapper1 .wrap-inner .container1 span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a3a3a3;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer {
    display: flex;
    width: 100%;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 {
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 {
    width: 65%;
    padding: 20px 0;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 {
    justify-content: left;
  }
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li {
  padding: 10px;
}
.wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li img {
  width: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .sns1 .footSns1 li img {
    width: 40px;
  }
}
.wrapper1 .wrap-inner .container1 .footer .footerInfo1 {
  display: flex;
  justify-content: space-between;
  font-size: 11.5px;
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .footerInfo1 {
    width: 35%;
    padding: 0;
    font-size: 16px;
    align-items: center;
    justify-content: end;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper1 .wrap-inner .container1 .footer .footerInfo1 p:last-child {
    margin-left: 100px;
  }
}/*# sourceMappingURL=chungjoo.css.map */